# --- Core Framework cho Apple Silicon ---
tensorflow>=2.10.0
tensorflow-macos>=2.10.0
tensorflow-metal>=0.6.0  # Quan trọng để kích hoạt GPU trên Mac

# --- Data Processing ---
numpy>=1.23.0
pandas>=1.5.0

# --- Visualization ---
matplotlib>=3.6.0
seaborn>=0.12.0

# --- Computer Vision ---
opencv-python>=4.7.0

# --- Machine Learning Utils ---
scikit-learn>=1.2.0
scipy>=1.10.0

# --- Web & App ---
Flask>=2.2.0
tqdm>=4.64.0
tensorflow-datasets>=4.8.0